
@import url('https://fonts.googleapis.com/css?family=Poppins:300');


$defaultFont: 'Poppins', sans-serif;
$fontParagrapgh: 'Poppins', sans-serif;
$defaultFontSizeH: 800;
$defaultFontSizeP: 300;

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// body font size
$browser-context: 16;

// typography scale
$body-font-size: (null: 26, $md: 15, $sm: 14, $xs: 13);
$h1-font-size: (null: 72px);
$h2-font-size: (null: 24px);
$p-font-size: (null: 38, $md: 36, $sm: 24, $xs: 24);